.clients {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(244, 245, 248);
  background-image: linear-gradient(to right, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
  text-align: center;
  .container {
    max-width: 920px;
    margin: 0 auto;
  }

  .clients-icon {
    margin-top: 59px;
    font-size: 2.75rem;
  }

  .clients-number {
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.25rem;
  }
  .clinets-post {
    color: $main-hover;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-transform: uppercase;
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      margin: 25px auto 0;
      background-color: rgb(255, 255, 255);
    }
  }
}
.i-man:before {
  content: "\e817";
}
.i-coffee:before {
  content: "\e822";
}
.i-posts:before {
  content: "\e81b";
}
.i-likes:before {
  content: "\e813";
}
.i-launch:before {
  content: "\e812";
  width: 54px;
}

.i-man,
.i-coffee,
.i-posts,
.i-likes,
.i-launch:before {
  color: $main-hover;
  font-family: "Myfont";
}
