.copyright {
  max-width: 1920px;
  min-height: 111px;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
  padding: 45px 0 52px;
  color: $block-title;
  font-size: 0.813rem;
  font-weight: 300;
  line-height: 1.25rem;

  .information-border {
    margin: 0 5px 0;
  }

  .information-text {
    color: rgb(85, 85, 85);
    font-size: 0.813rem;
    font-weight: 300;
    line-height: 1.25rem;
    .information-green {
      color: rgb(149, 149, 149);
    }
  }
}

.information-hover:hover {
  cursor: pointer;
  color: $main-hover;
}
