#features {
  .container {
    max-width: 1166px;
    margin: 0 auto;
  }
}
.features-wrapper {
  margin: 70px 0;
}
.features-block {
  .features-block__title {
    color: $block-title;
    font-family: "RalewayBold";
    font-size: 1.375rem;
    padding: 25px 0 14px 0;
  }
  .features-block__text {
    color: $block-text;
    font-size: 0.855rem;
    line-height: 24px;
    &:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: rgb(241, 238, 233);
      margin: 20px auto 0;
    }
  }
}
.i-pen:before {
  content: "\e819";
}
.i-layer-group:before {
  content: "\e810";
}
.i-cog:before {
  content: "\e823";
}
.i-folder-open:before {
  content: "\e818";
}

.i-pen,
.i-cog,
.i-folder-open,
.i-layer-group {
  color: $block-title;
  font-size: 35px;
  text-align: center;
  &:before {
    display: inline-block;
    font-family: "MyFont";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    font-size: 35px;
  }
}
.features-block:hover {
  cursor: pointer;
  color: $main-hover;

  .features-block__title {
    color: $main-hover;
  }
  .i-pen,
  .i-cog,
  .i-folder-open,
  .i-layer-group {
    color: $main-hover;
  }
  .features-block__text {
    &:after {
      background-color: $main-hover;
    }
  }
}
