.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /*   padding: 0 15px;
 */
}
footer {
  max-width: 1920px;
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  padding: 80px 0;
}
/* Wacom block */
.wacom-block {
  .wacom-block__text {
    color: $block-title;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 25px 0;
  }
  .wacom-block__link {
    color: rgb(209, 209, 209);
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    cursor: pointer;
  }
}

/* Recentposts-block */

.recentpost-block {
  margin-top: 15px;
  cursor: pointer;
  &:hover {
    color: rgb(199, 178, 153);
  }
  .recentpost-block__header {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .post-period {
    font-weight: 300;
    line-height: 1.25rem;
    &::after {
      content: "";
      display: block;
      width: 270px;
      height: 1px;
      background-color: rgb(37, 37, 37);
      margin: 15px auto;
    }

    .post-period__date {
      color: rgb(54, 54, 54);
      font-size: 0.75rem;
      padding-bottom: 5px;
    }
    .post-period__link {
      color: rgb(85, 85, 85);
      font-size: 0.875rem;
    }
  }
}
.post-period:last-child {
  &::after {
    display: none;
  }
}

.twitter-block {
  margin-top: 15px;
  .twitter-block__header {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .twitter-posts {
    color: rgb(85, 85, 85);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    &::after {
      content: "";
      display: block;
      width: 270px;
      height: 1px;
      background-color: rgb(37, 37, 37);
      margin: 15px auto;
    }
    .twitter-posts__link {
      color: rgb(0, 191, 243);
    }
    .twitter-posts__period {
      padding-top: 5px;
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.25rem;
    }
  }
}
.twitter-posts:last-child {
  &::after {
    display: none;
  }
}

.twitter-posts__link-gray {
  color: rgb(149, 149, 149);
}
/* Widget-block */
.widget-block {
  margin-top: 15px;
  .widget-block__header {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 21px;
  }
  .widgetblock__img {
    margin-bottom: 6px;
    margin-right: 1px;
  }
}
