.navbar {
  /*   background: rgba(0, 0, 0, 0) !important;
 */
  font-size: 0.875rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: $main-hover;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: $main-hover;
}
/* Carousel */
header {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .carousel-item {
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      background-color: rgba(17, 17, 17, 0.7);
      z-index: 1000;
    }
  }
  .carousel {
    .carousel-indicators li {
      border: 1px solid rgb(211, 193, 173);
      width: 11px;
      height: 11px;
      opacity: 0.5;
      border-radius: 50%;
      margin-right: 9px;
    }
    .carousel-caption {
      width: 100%;
      max-width: 100%;
      position: absolute;
      top: 48.5%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translate(0, -33%);
      text-shadow: 0.1rem 0.1rem 0.8rem rgba(17, 17, 17, 0.7);
      font-style: normal;
      z-index: 1000;

      .offer__suptitle {
        font-family: "Raleway", sans-serif;
        font-size: 2.25rem;
      }
      .offer__title {
        color: rgb(255, 255, 255);
        font-family: "RalewayExtraBold", sans-serif;
        font-size: 3.25rem;
        letter-spacing: 0.125rem;
      }
      .offer__text {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
        font-style: none;
      }
    }
  }
}

.button-header {
  border: none;
  display: inline-block;
  padding: 15px 35px;
  margin-top: 45px;
  line-height: 1.438rem;
  text-transform: uppercase;
  @include button-style;
}

.button-header__link {
  @include button-font;
}
