#ideas {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(251, 250, 248);
  .container {
    max-width: 1230px;
    margin: 0 auto;
  }
}
.section {
  padding: 70px 0 0;
  text-align: center;
}
.section-title {
  color: $block-title;
  font-size: 1.875rem;
  font-family: "RalewaySemiBold";
  font-weight: 400px;
}
.section-text {
  color: $block-text;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75rem;
  margin: 12px 0 35px;
}
.ideas-img {
  width: 100%;
}
