.logos {
  max-width: 1920px;
  min-height: 489px;
  background-image: url(../../images/logo/logo-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.7);
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.logos-img {
  margin: 140px 0;
}
