.mobile-devices {
  .container {
    max-width: 1109px;
    margin: 0 auto;
  }
  .mobile-device {
    margin-top: 70px;
  }
  .mobile-block {
    margin-top: 186px;

    .mobile-block__title {
      color: $block-title;
      font-family: "Raleway";
      font-size: 1.875rem;
      font-weight: 800;
      padding-bottom: 30px;
    }
    .mobile-block__main {
      color: $block-text;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.75rem;
      padding-bottom: 23px;
    }
    .i-arrow-round {
      padding-top: 10px;
      padding-left: 25px;
      &::before {
        content: "\e80d";
        font-family: "Myfont";
        font-style: normal;
        font-weight: normal;
        color: rgb(199, 178, 153);
        font-size: 21px;
        padding-right: 35px;
      }
    }
  }
}
