#portfolio {
  background-color: #fff;
  text-align: center;
  padding-bottom: 80px;
  .menu-nav {
    margin-bottom: 30px;
  }
}
/* hover */
.portfolioMenu__btn {
  display: inline-block;
  height: 32px;
  border: 0.063rem solid rgb(235, 235, 235);
  background-color: transparent;
  color: rgb(140, 140, 140);
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.313rem;
}

.portfolioMenu__btn:first-of-type {
  width: 70px;
}

.portfolioMenu__btn:last-of-type {
  width: 135px;
}

.portfolioMenu__btn:hover {
  background-color: rgb(153, 134, 117);
  color: rgb(250, 250, 250);
}
/* Project Cards*/
#portfolio .cards .card {
  max-width: 370px;
  margin-right: 0.62rem;
}
.card {
  position: relative;
  .card-icon {
    width: 80px;
    height: 26px;
    position: absolute;
    margin: 25% auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    .link {
      display: none;
    }
    .lupa {
      display: none;
    }
  }
}
.card-body {
  background-color: rgb(251, 250, 248);
  text-align: left;
  .card-title {
    color: rgb(199, 178, 153);
    font-family: "Raleway";
    font-size: 1.25rem;
    font-weight: 500;
  }
  .card-text {
    color: rgb(209, 209, 209);
    font-size: 0.875rem;
    font-family: "Montserrat";
    font-weight: 300;
    line-height: 1.25rem;
  }
  .card-img {
    max-width: 100%;
    background-color: rgb(140, 140, 140);
  }
}
.card {
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
  &:hover {
    display: block;
    background-color: rgb(54, 47, 45);
    cursor: pointer;
    transform: scale(1.1);
    .card-body {
      background-color: rgb(54, 47, 45);
    }

    .card-title {
      color: rgb(255, 255, 255);
    }
    .card-text {
      color: rgb(199, 178, 153);
    }
    .link {
      display: block;
      &:hover {
        color: rgb(199, 178, 153);
      }
    }
    .lupa {
      display: block;
      &:hover {
        color: rgb(199, 178, 153);
      }
    }
  }
}
.desc {
  position: absolute;
  background-color: rgba(17, 17, 17, 0.7);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 1s;
}
.card:hover .desc {
  display: block;
}
.btn-project {
  margin-top: 10px;
  @include button-font;
}
