#post {
  margin-bottom: 30px;
  .card {
    display: block;
    max-width: 370px;
    min-height: 220px;
    position: relative;
    &:hover {
      transform: none;
      cursor: pointer;
      .card-title {
        color: rgb(199, 178, 153);
      }
      .card-text {
        color: rgb(255, 255, 255);
      }
      .block-date__day {
        background-color: $main-hover;
        border-bottom: 1px solid $main-hover;
      }

      .block-date__month {
        background-color: rgb(164, 141, 114);
      }
    }
  }

  .card-title {
    color: $block-title;
    font-family: "Raleway";
    font-size: 1.25rem;
    font-weight: 500;
  }

  .card-text {
    color: rgb(140, 140, 140);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
  }

  .card-moreinform {
    padding-top: 27px;
    padding-bottom: 33px;
    padding-left: 30px;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: left;
  }
  .block-moreinform {
    color: rgb(199, 178, 153);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
  }
  .postwrapperblock__arrow {
    padding-left: 9px;
  }
}
/* Date */
.block-date {
  top: 20px;
  left: 20px;
  color: rgb(250, 250, 250);
  .block-date__month {
    width: 50px;
    height: 25px;
    padding: 2px 10px;
    background-color: rgb(37, 37, 37);
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .block-date__day {
    width: 50px;
    height: 35px;
    padding: 5px 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.25rem;
    border-radius: 0.188rem 0.188rem 0 0;
    text-align: center;
  }
}

/* Slider */

#mySlider2 {
  position: relative;
  .carousel-indicators {
    position: absolute;
    top: 185px;
  }
  .carousel-indicators li {
    border: 1px solid rgb(211, 193, 173);
    width: 11px;
    height: 11px;
    opacity: 0.5;
    border-radius: 50%;
    margin-right: 9px;
  }
}
