.theme {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(244, 245, 248);
  background-image: linear-gradient(to right, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
  padding: 38px 0;
  .theme-title {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-weight: 400;
    font-size: 1.75rem;
    .theme-title__color {
      color: $main-hover;
    }
  }
  .theme-text {
    color: rgb(97, 88, 85);
    font-size: 1.125rem;
    font-weight: 300;
  }
}
.button-content {
  width: 170px;
  min-height: 50px;
  display: inline-block;
  box-shadow: inset 0 -0.187rem 0 rgb(115, 99, 87);
  background-color: rgb(153, 134, 117);
  color: rgb(225, 225, 225);
  border: none;
  position: relative;
  top: 5%;
}
.button-content__link {
  @include button-font;
}
