#presentation {
  max-width: 1920px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 705px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.75;

  .video-text__header {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1.875rem;
    font-weight: 500;
    padding-top: 34px;
  }
  .video-text__main {
    padding-top: 9px;
    padding-bottom: 30px;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }
  .video-text__time {
    color: $main-hover;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
  }

  .play-btn {
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
