@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat.eot") format("eot"), url("../../fonts/Montserrat/Montserrat.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MontserratLight";
  src: url("../../fonts/MontserratLight/MontserratLight.eot") format("eot"), url("../../fonts/MontserratLight/MontserratLight.ttf") format("truetype"), url("../../fonts/MontserratLight/MontserratLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.eot") format("eot"), url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.woff2") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../../fonts/RalewayBold/RalewayBold.eot") format("eot"), url("../../fonts/RalewayBold/RalewayBold.ttf") format("truetype"), url("../../fonts/RalewayBold/RalewayBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot") format("eot"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../fonts/RalewaySemiBold/RalewaySemiBold.eot") format("eot"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot") format("eot"), url("../../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"), url("../../fonts/RalewayRegular/RalewayRegular.eot") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/MyFont/MyFont.ttf"), url("../../fonts/MyFont/MyFont.woff") format("woff"), url("../../fonts/MyFont/MyFont.eot");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  color: white;
  text-decoration: none;
  border: none;
}

li,
ul {
  display: block;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat";
  background-color: #fff;
  color: #8c8c8c;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "MyFont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.navbar {
  /*   background: rgba(0, 0, 0, 0) !important;
 */
  font-size: 0.875rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin-left: 20px;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: #c7b299;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #c7b299;
}

/* Carousel */
header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header .carousel-item {
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 1000;
}

header .carousel .carousel-indicators li {
  border: 1px solid #d3c1ad;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 9px;
}

header .carousel .carousel-caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 48.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate(0, -33%);
          transform: translate(0, -33%);
  text-shadow: 0.1rem 0.1rem 0.8rem rgba(17, 17, 17, 0.7);
  font-style: normal;
  z-index: 1000;
}

header .carousel .carousel-caption .offer__suptitle {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
}

header .carousel .carousel-caption .offer__title {
  color: white;
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 3.25rem;
  letter-spacing: 0.125rem;
}

header .carousel .carousel-caption .offer__text {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-style: none;
}

.button-header {
  border: none;
  display: inline-block;
  padding: 15px 35px;
  margin-top: 45px;
  line-height: 1.438rem;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -0.187rem 0 #736357;
          box-shadow: inset 0 -0.187rem 0 #736357;
  border-radius: 0.188rem;
  background-color: #998675;
}

.button-header__link {
  font-family: "RalewayExtraBold";
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.438rem;
  text-transform: uppercase;
}

#features .container {
  max-width: 1166px;
  margin: 0 auto;
}

.features-wrapper {
  margin: 70px 0;
}

.features-block .features-block__title {
  color: #555555;
  font-family: "RalewayBold";
  font-size: 1.375rem;
  padding: 25px 0 14px 0;
}

.features-block .features-block__text {
  color: #8c8c8c;
  font-size: 0.855rem;
  line-height: 24px;
}

.features-block .features-block__text:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 20px auto 0;
}

.i-pen:before {
  content: "\e819";
}

.i-layer-group:before {
  content: "\e810";
}

.i-cog:before {
  content: "\e823";
}

.i-folder-open:before {
  content: "\e818";
}

.i-pen,
.i-cog,
.i-folder-open,
.i-layer-group {
  color: #555555;
  font-size: 35px;
  text-align: center;
}

.i-pen:before,
.i-cog:before,
.i-folder-open:before,
.i-layer-group:before {
  display: inline-block;
  font-family: "MyFont";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 35px;
}

.features-block:hover {
  cursor: pointer;
  color: #c7b299;
}

.features-block:hover .features-block__title {
  color: #c7b299;
}

.features-block:hover .i-pen,
.features-block:hover .i-cog,
.features-block:hover .i-folder-open,
.features-block:hover .i-layer-group {
  color: #c7b299;
}

.features-block:hover .features-block__text:after {
  background-color: #c7b299;
}

#ideas {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fbfaf8;
}

#ideas .container {
  max-width: 1230px;
  margin: 0 auto;
}

.section {
  padding: 70px 0 0;
  text-align: center;
}

.section-title {
  color: #555555;
  font-size: 1.875rem;
  font-family: "RalewaySemiBold";
  font-weight: 400px;
}

.section-text {
  color: #8c8c8c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75rem;
  margin: 12px 0 35px;
}

.ideas-img {
  width: 100%;
}

.theme {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 38px 0;
}

.theme .theme-title {
  color: white;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.75rem;
}

.theme .theme-title .theme-title__color {
  color: #c7b299;
}

.theme .theme-text {
  color: #615855;
  font-size: 1.125rem;
  font-weight: 300;
}

.button-content {
  width: 170px;
  min-height: 50px;
  display: inline-block;
  -webkit-box-shadow: inset 0 -0.187rem 0 #736357;
          box-shadow: inset 0 -0.187rem 0 #736357;
  background-color: #998675;
  color: #e1e1e1;
  border: none;
  position: relative;
  top: 5%;
}

.button-content__link {
  font-family: "RalewayExtraBold";
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.438rem;
  text-transform: uppercase;
}

#portfolio {
  background-color: #fff;
  text-align: center;
  padding-bottom: 80px;
}

#portfolio .menu-nav {
  margin-bottom: 30px;
}

/* hover */
.portfolioMenu__btn {
  display: inline-block;
  height: 32px;
  border: 0.063rem solid #ebebeb;
  background-color: transparent;
  color: #8c8c8c;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.313rem;
}

.portfolioMenu__btn:first-of-type {
  width: 70px;
}

.portfolioMenu__btn:last-of-type {
  width: 135px;
}

.portfolioMenu__btn:hover {
  background-color: #998675;
  color: #fafafa;
}

/* Project Cards*/
#portfolio .cards .card {
  max-width: 370px;
  margin-right: 0.62rem;
}

.card {
  position: relative;
}

.card .card-icon {
  width: 80px;
  height: 26px;
  position: absolute;
  margin: 25% auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.card .card-icon .link {
  display: none;
}

.card .card-icon .lupa {
  display: none;
}

.card-body {
  background-color: #fbfaf8;
  text-align: left;
}

.card-body .card-title {
  color: #c7b299;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 500;
}

.card-body .card-text {
  color: #d1d1d1;
  font-size: 0.875rem;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 1.25rem;
}

.card-body .card-img {
  max-width: 100%;
  background-color: #8c8c8c;
}

.card {
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.card:hover {
  display: block;
  background-color: #362f2d;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .card-body {
  background-color: #362f2d;
}

.card:hover .card-title {
  color: white;
}

.card:hover .card-text {
  color: #c7b299;
}

.card:hover .link {
  display: block;
}

.card:hover .link:hover {
  color: #c7b299;
}

.card:hover .lupa {
  display: block;
}

.card:hover .lupa:hover {
  color: #c7b299;
}

.desc {
  position: absolute;
  background-color: rgba(17, 17, 17, 0.7);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card:hover .desc {
  display: block;
}

.btn-project {
  margin-top: 10px;
  font-family: "RalewayExtraBold";
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.438rem;
  text-transform: uppercase;
}

#presentation {
  max-width: 1920px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.75;
}

.video-text .video-text__header {
  color: white;
  font-family: "Raleway";
  font-size: 1.875rem;
  font-weight: 500;
  padding-top: 34px;
}

.video-text .video-text__main {
  padding-top: 9px;
  padding-bottom: 30px;
  font-weight: 300;
  color: white;
}

.video-text .video-text__time {
  color: #c7b299;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
}

.video-text .play-btn {
  background-color: transparent;
  border: none;
}

.video-text .play-btn:focus {
  outline: none;
}

.video-text .play-btn:hover {
  cursor: pointer;
}

.mobile-devices .container {
  max-width: 1109px;
  margin: 0 auto;
}

.mobile-devices .mobile-device {
  margin-top: 70px;
}

.mobile-devices .mobile-block {
  margin-top: 186px;
}

.mobile-devices .mobile-block .mobile-block__title {
  color: #555555;
  font-family: "Raleway";
  font-size: 1.875rem;
  font-weight: 800;
  padding-bottom: 30px;
}

.mobile-devices .mobile-block .mobile-block__main {
  color: #8c8c8c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75rem;
  padding-bottom: 23px;
}

.mobile-devices .mobile-block .i-arrow-round {
  padding-top: 10px;
  padding-left: 25px;
}

.mobile-devices .mobile-block .i-arrow-round::before {
  content: "\e80d";
  font-family: "Myfont";
  font-style: normal;
  font-weight: normal;
  color: #c7b299;
  font-size: 21px;
  padding-right: 35px;
}

.clients {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  text-align: center;
}

.clients .container {
  max-width: 920px;
  margin: 0 auto;
}

.clients .clients-icon {
  margin-top: 59px;
  font-size: 2.75rem;
}

.clients .clients-number {
  color: white;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.clients .clinets-post {
  color: #c7b299;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.clients .clinets-post::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  margin: 25px auto 0;
  background-color: white;
}

.i-man:before {
  content: "\e817";
}

.i-coffee:before {
  content: "\e822";
}

.i-posts:before {
  content: "\e81b";
}

.i-likes:before {
  content: "\e813";
}

.i-launch:before {
  content: "\e812";
  width: 54px;
}

.i-man,
.i-coffee,
.i-posts,
.i-likes,
.i-launch:before {
  color: #c7b299;
  font-family: "Myfont";
}

#post {
  margin-bottom: 30px;
}

#post .card {
  display: block;
  max-width: 370px;
  min-height: 220px;
  position: relative;
}

#post .card:hover {
  -webkit-transform: none;
          transform: none;
  cursor: pointer;
}

#post .card:hover .card-title {
  color: #c7b299;
}

#post .card:hover .card-text {
  color: white;
}

#post .card:hover .block-date__day {
  background-color: #c7b299;
  border-bottom: 1px solid #c7b299;
}

#post .card:hover .block-date__month {
  background-color: #a48d72;
}

#post .card-title {
  color: #555555;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 500;
}

#post .card-text {
  color: #8c8c8c;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

#post .card-moreinform {
  padding-top: 27px;
  padding-bottom: 33px;
  padding-left: 30px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-align: left;
}

#post .block-moreinform {
  color: #c7b299;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

#post .postwrapperblock__arrow {
  padding-left: 9px;
}

/* Date */
.block-date {
  top: 20px;
  left: 20px;
  color: #fafafa;
}

.block-date .block-date__month {
  width: 50px;
  height: 25px;
  padding: 2px 10px;
  background-color: #252525;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.block-date .block-date__day {
  width: 50px;
  height: 35px;
  padding: 5px 7px;
  color: white;
  background-color: #363636;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25rem;
  border-radius: 0.188rem 0.188rem 0 0;
  text-align: center;
}

/* Slider */
#mySlider2 {
  position: relative;
}

#mySlider2 .carousel-indicators {
  position: absolute;
  top: 185px;
}

#mySlider2 .carousel-indicators li {
  border: 1px solid #d3c1ad;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 9px;
}

.logos {
  max-width: 1920px;
  min-height: 489px;
  background-image: url(../../images/logo/logo-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
}

.logos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.7);
}

.logos .container {
  max-width: 1100px;
  margin: 0 auto;
}

.logos-img {
  margin: 140px 0;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /*   padding: 0 15px;
 */
}

footer {
  max-width: 1920px;
  background-color: #191919;
  margin: 0 auto;
  padding: 80px 0;
}

/* Wacom block */
.wacom-block .wacom-block__text {
  color: #555555;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 25px 0;
}

.wacom-block .wacom-block__link {
  color: #d1d1d1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
}

/* Recentposts-block */
.recentpost-block {
  margin-top: 15px;
  cursor: pointer;
}

.recentpost-block:hover {
  color: #c7b299;
}

.recentpost-block .recentpost-block__header {
  color: white;
  font-family: "Raleway";
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.recentpost-block .post-period {
  font-weight: 300;
  line-height: 1.25rem;
}

.recentpost-block .post-period::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #252525;
  margin: 15px auto;
}

.recentpost-block .post-period .post-period__date {
  color: #363636;
  font-size: 0.75rem;
  padding-bottom: 5px;
}

.recentpost-block .post-period .post-period__link {
  color: #555555;
  font-size: 0.875rem;
}

.post-period:last-child::after {
  display: none;
}

.twitter-block {
  margin-top: 15px;
}

.twitter-block .twitter-block__header {
  color: white;
  font-family: "Raleway";
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.twitter-block .twitter-posts {
  color: #555555;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.twitter-block .twitter-posts::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #252525;
  margin: 15px auto;
}

.twitter-block .twitter-posts .twitter-posts__link {
  color: #00bff3;
}

.twitter-block .twitter-posts .twitter-posts__period {
  padding-top: 5px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.twitter-posts:last-child::after {
  display: none;
}

.twitter-posts__link-gray {
  color: #959595;
}

/* Widget-block */
.widget-block {
  margin-top: 15px;
}

.widget-block .widget-block__header {
  color: white;
  font-family: "Raleway";
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 21px;
}

.widget-block .widgetblock__img {
  margin-bottom: 6px;
  margin-right: 1px;
}

.copyright {
  max-width: 1920px;
  min-height: 111px;
  margin: 0 auto;
  background-color: #111111;
  padding: 45px 0 52px;
  color: #555555;
  font-size: 0.813rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.copyright .information-border {
  margin: 0 5px 0;
}

.copyright .information-text {
  color: #555555;
  font-size: 0.813rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.copyright .information-text .information-green {
  color: #959595;
}

.information-hover:hover {
  cursor: pointer;
  color: #c7b299;
}

@media only screen and (max-width: 768px) {
  /* Base */
  .section-title {
    font-size: 1.5rem;
  }
  /* Header */
  header .carousel .carousel-caption .offer__suptitle {
    font-size: 1.9rem;
  }
  header .carousel .carousel-caption .offer__title {
    font-size: 1.5rem;
  }
  header .carousel .carousel-caption .offer__text {
    font-size: 0.75rem;
  }
  .navbar-dark .navbar-nav .nav-item:nth-child(2) {
    text-align: center;
  }
  .navbar-dark .navbar-nav .tools {
    display: none;
  }
  .button-header {
    margin-top: 15px;
  }
  .navbar-dark .navbar-nav .tools {
    display: none;
  }
  header .carousel-item {
    height: 85vh;
  }
  header .carousel .carousel-caption {
    padding: 0 15px;
  }
  /* Theme */
  .theme .theme-title {
    font-size: 1.3em;
    text-align: center;
  }
  .theme .theme-text {
    text-align: center;
  }
  .theme .button-content {
    display: block;
    margin: 0 auto;
  }
  /* Project Cards*/
  #portfolio .cards .card {
    width: 100%;
    margin: none;
  }
  /* Mobile */
  .mobile-devices .mobile-block {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  /* Clients */
  .clients .clinets-post {
    font-size: 0.678rem;
  }
  /* Posts  */
  #post .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  /* Footer */
  .recentpost-block .post-period::after {
    display: none;
  }
  .twitter-block .twitter-posts::after {
    display: none;
  }
  /* Copyright */
  .copyright .information-text {
    text-align: start;
  }
}

@media only screen and (max-width: 976px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 9px;
    margin-top: 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 320px) {
  /* Post */
  #post .card {
    width: 18rem;
  }
  .block-date {
    width: 8rem;
  }
  .logos-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  /* Logos */
  .logos-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .logos-img {
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=main.css.map */