* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  &:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
  }
}

li,
ul {
  display: block;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat";
  background-color: #fff;
  color: rgb(140, 140, 140);
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "MyFont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
