@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat.eot") format("eot"),
    url("../../fonts/Montserrat/Montserrat.ttf") format("truetype"),
    url("../../fonts/Montserrat/Montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MontserratLight";
  src: url("../../fonts/MontserratLight/MontserratLight.eot") format("eot"),
    url("../../fonts/MontserratLight/MontserratLight.ttf") format("truetype"),
    url("../../fonts/MontserratLight/MontserratLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.eot") format("eot"),
    url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.ttf") format("truetype"),
    url("../../fonts/MontserratExtraLight/Montserrat-ExtraLightItalic.woff2") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../../fonts/RalewayBold/RalewayBold.eot") format("eot"),
    url("../../fonts/RalewayBold/RalewayBold.ttf") format("truetype"),
    url("../../fonts/RalewayBold/RalewayBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot") format("eot"),
    url("../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"),
    url("../../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../fonts/RalewaySemiBold/RalewaySemiBold.eot") format("eot"),
    url("../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"),
    url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot") format("eot"),
    url("../../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"),
    url("../../fonts/RalewayRegular/RalewayRegular.eot") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/MyFont/MyFont.ttf"), url("../../fonts/MyFont/MyFont.woff") format("woff"), url("../../fonts/MyFont/MyFont.eot");
}
