@media only screen and (max-width: 768px) {
  /* Base */
  .section-title {
    font-size: 1.5rem;
  }

  /* Header */
  header .carousel .carousel-caption .offer__suptitle {
    font-size: 1.9rem;
  }
  header .carousel .carousel-caption .offer__title {
    font-size: 1.5rem;
  }
  header .carousel .carousel-caption .offer__text {
    font-size: 0.75rem;
  }
  .navbar-dark .navbar-nav .nav-item:nth-child(2) {
    text-align: center;
  }
  .navbar-dark .navbar-nav .tools {
    display: none;
  }
  .button-header {
    margin-top: 15px;
  }
  .navbar-dark .navbar-nav .tools {
    display: none;
  }
  header .carousel-item {
    height: 85vh;
  }
  header .carousel .carousel-caption {
    padding: 0 15px;
  }

  /* Theme */
  .theme .theme-title {
    font-size: 1.3em;
    text-align: center;
  }
  .theme .theme-text {
    text-align: center;
  }

  .theme .button-content {
    display: block;
    margin: 0 auto;
  }

  /* Project Cards*/
  #portfolio .cards .card {
    width: 100%;
    margin: none;
  }

  /* Mobile */
  .mobile-devices .mobile-block {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  /* Clients */
  .clients .clinets-post {
    font-size: 0.678rem;
  }

  /* Posts  */
  #post .posts {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  /* Footer */
  .recentpost-block .post-period::after {
    display: none;
  }
  .twitter-block .twitter-posts::after {
    display: none;
  }
  /* Copyright */
  .copyright .information-text {
    text-align: start;
  }
}

@media only screen and (max-width: 976px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 9px;
    margin-top: 20px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 320px) {
  /* Post */
  #post .card {
    width: 18rem;
  }
  .block-date {
    width: 8rem;
  }
  .logos-block {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  /* Logos */
  .logos-block {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .logos-img {
    margin: 2rem 0;
  }
}
