@media (max-width: 576px) {
  /* Header */
  header .carousel .carousel-caption .offer__suptitle {
    font-size: 1.8rem;
  }
  header .carousel .carousel-caption .offer__title {
    font-size: 1.5rem;
  }
  header .carousel .carousel-caption .offer__text {
    font-size: 0.875rem;
  }
  .button-header {
    margin-top: 15px;
  }
  .navbar-dark .navbar-nav .tools {
    display: none;
  }
  header .carousel-item {
    height: 80vh;
  }
  header .carousel .carousel-caption {
    padding: 0 15px;
  }
  /* Clients */
  .clients .clinets-post {
    font-size: 0.64rem;
  }

  /* Copyright */
  .copyright .information-text {
    text-align: start;
  }
}

@media (max-width: 768px) {
  /* Section-block */
  .section-title {
    font-size: 1.8em;
  }

  /* Theme */
  .theme .theme-title {
    font-size: 1.5em;
  }

  /* Mobile */
  .mobile-devices .mobile-block {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  /* Clients */
  .clients .clinets-post {
    font-size: 0.678rem;
  }
  /* Copyright */
  .copyright .information-text {
    text-align: start;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
