@mixin button-style {
  box-shadow: inset 0 -0.187rem 0 rgb(115, 99, 87);
  border-radius: 0.188rem;
  background-color: rgb(153, 134, 117);
}
@mixin button-font {
  font-family: "RalewayExtraBold";
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.438rem;
  text-transform: uppercase;
}
